*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html{
    font-size: 16px;
    margin: 0;
}


#navbar{
    display: flex;
    position: sticky;
    background-color: rgb(31, 159, 197);
    height: 5rem;
    justify-content: center;
    align-items: center;
    min-width: 750px;
    margin: 0;
}

#navbar h1{
    color: white;
    font-size: 2rem;
    margin: 0;
}

#findSpot{
}

table{
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

td {
    text-align: center;
}

button{
    background-color: rgb(31, 159, 197);
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    font-weight: bold;
    color: white;
}

button:hover{
    background-color: aquamarine;
    color: black;
}


#regionSelector{
}

#addSpot{
    margin-left: 30px;
}

.modal-body button{
    width: 100%;
}

#spotPresenter{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#spotPresenter button{
    width: 100%;
}

#spotPresenter h2{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

table, th, td{
    border: 1px solid black;
}

.modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    min-width: 800px;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(31, 159, 197);
    width: 32px;
    text-align: center;
}

.modal-body {
 padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none; /* Asi no podemos tocar nada fuera del overlay */
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.close-button{
    background-color: rgb(31, 159, 197);
}